$cubicbez: 0.46,-0.34, 0.54, 1.3;
$roboto: 'Roboto', sans-serif;
$sansista: 'Sansista', sans-serif;
$ceviche: 'Ceviche One', cursive;
$mainColor: #C84C0C;
$accentYellow: #F0BC3C;
$green: #58F898;
$silver: #C4C4C4;
$black: #010101;
$blue: #1364A7;
$red: #DF2F0B;
