body,
html {
  height:100%;
}

.start-screen {
  background:$mainColor;
  position:absolute;
  width:100%;
  height:100%;
}


.start-screen .title-box {
  @include centerer(true, false);
  transition:.3s all cubic-bezier($cubicbez);
  top:-100%;
}

.start-screen.activate .title-box {
  @include centerer(true,true);
}

//character select screen

.inner {
  height:100%;
}

.dude {
  width:17px;
  height:32px;
  background-image:url(../images/characters.png);
  background-repeat:no-repeat;
  // -webkit-animation: walk .8s steps(3) infinite, move 10s infinite;
  // -moz-animation:    walk .8s steps(3) infinite, move 10s infinite;
  // -o-animation:      walk .8s steps(3) infinite, move 10s infinite;
  // animation:         walk .8s steps(3) infinite, move 10s infinite;
  // position:absolute;
  // left:100%;
  position:absolute;
}

.character-select .dude {
  @include centerer;
  &:after {
    @include centerer(true,false);
    top:100%;
    text-transform:uppercase;
    letter-spacing: 3px;
    color:$black;
    transition:color .4s ease-in-out;
  }
}

.character-select li.selected .dude:after,
.character-select li:hover .dude:after,
.selected-player .dude:after {
  color:#fff;
}

.character-select ul {
  max-width:250px;
  margin:0 auto;
}

.character-select ul > li {
  position:relative;
  height:100px;
  transition:background-color .4s ease-in-out;
  cursor:pointer;
}

.character-select ul > li.tex:hover,
.character-select ul > li.tex.selected,
.selected-player.tex {
  background-color:$green;
}

.character-select ul > li.blade:hover,
.character-select ul > li.blade.selected,
.selected-player.blade {
  background-color:$mainColor;
}

.character-select ul > li.jerry:hover,
.character-select ul > li.jerry.selected,
.selected-player.jerry {
  background-color:$accentYellow;
}

.character-select ul > li.reggie:hover,
.character-select ul > li.reggie.selected,
.selected-player.reggie {
  background-color:$red;
}


.dude.tex {
  background-position:0 0;
}

.dude.blade {
  background-position:0 -40px;
}

.dude.jerry {
  background-position:0 -80px;
}

.dude.reggie {
  background-position:0 -118px;
}

.dude.tex.face-left {
  background-position:-24px 0;
}

.dude.blade.face-left {
  background-position:-24px -40px;
}

.dude.jerry.face-left {
  background-position:-24px -80px;
}

.dude.reggie.face-left {
  background-position:-23px -118px;
}

.character-select .dude.tex:after {
  content:'Tex';
}

.character-select .dude.blade:after {
  content:'Blade';
}

.character-select .dude.jerry:after {
  content:'Jerry';
}

.character-select .dude.reggie:after {
  content:'Reggie';
}

//oppoents
.selected-player {
  position:relative;
  height:100px;
}

#opponents .wrap {
  max-width:250px;
  margin:0 auto;
}

//taunt
.taunt-screen .selected-player .dude {
  @include centerer(true,true);
}

.taunt {
  text-align:center;
  margin-bottom:20px;
}

.fight-screen .stage {
  height:320px;
  max-width:680px;
  background-repeat:no-repeat;
  background-position:center;
  position:relative;
  margin:0 auto 20px;
}

.fight-screen .stage.turf {
  background-image:url(../images/turf.jpg);
}

.fight-screen .dude {
  top:200px;
}

.fight-screen .player .dude {
  left:45%;
}

.fight-screen .opponent .dude {
  left:55%;
}

.fight-screen .stage h2 {
  opacity:1;
  @include centerer(true,true);
  color:#fff;
  font-family: $ceviche;
  font-size:40px;
  transition: all .4s cubic-bezier($cubicbez);

}

.fight-screen .stage h2.fight {
  opacity:0;
  visibility: hidden;
  font-size:55px;
}

.fight-controls {
  max-width:680px;
  margin:0 auto;
}

.opponent-health {
  text-align:right;
}

.fighter {
  position:relative;
}

.damage {
  position:absolute;
  right:100%;
  bottom:90%;
  color:#fff;
  font-weight:700;
  opacity:0;
  transition: all .4s ease-in-out;
}

.damage.blip {
  bottom:105%;
  opacity:1;
}



//SAVE THESE ANIMATIONS FOR LATER
@-webkit-keyframes walk {
  100%   {background-position:-56px 0;}
}
@-moz-keyframes walk {
  100%   {background-position:-56px 0;}
}
@-o-keyframes walk {
  100%   {background-position:-56px 0;}
}
@keyframes walk {
    100%   {background-position:-56px 0;}
}

@-webkit-keyframes move {
  100%   {left:0;}
}
@-moz-keyframes move {
  100%   {left:0;}
}
@-o-keyframes move {
  100%   {left:0;}
}
@keyframes move {
  100%   {left:0;}
}
